
.inputField {

}

#trainSymbol {
    -fx-shape: "m 481.10003,982.01956 c 0,0 -3.87891,1.72751 -3.87891,11.63867 17.80244,0 30.79305,0.67971 38.12305,3.54297 8.00089,3.1253 15.77697,12.532 21.5918,22.6035 l -31.37696,0 c -7.42224,0 -7.5451,-8.5772 -13.95507,-8.5332 l -14.38282,-0.068 0,41.1582 c 38.46073,0 59.04032,-0.8434 62.41407,-6.9161 3.37375,-6.0728 4.38619,-14.8428 4.04882,-21.9277 -0.33738,-7.0848 -16.5315,-29.01462 -25.64062,-34.75 -9.10912,-5.73537 -36.94336,-6.74804 -36.94336,-6.74804 z m 64.19531,57.49024 c 0,0 -1.25541,-0.1003 -1.75976,1.2519 -1.01734,2.9029 -1.73295,4.7661 -3.22461,6.92 1.95438,0 3.61293,-0.1073 4.98437,0.5371 -0.66701,-2.8969 0,-8.709 0,-8.709 z";
}

#lockSymbol {
    -fx-shape: "m 154.22841,981.53182 c -9.16272,0 -16.45682,0.26624 -21.60179,6.16833 -5.09506,5.84484 -6.15764,12.36395 -6.17295,23.40035 l -1.6914,0 0,41.2618 33.0625,0 0.004,-3.4655 -7.24925,-3.3071 0.13838,-27.218 7.10989,-4.9003 -0.003,-2.3709 -26.23197,0 c 0,-12.97098 1.50608,-20.79991 11.04225,-24.28929 2.88383,-1.05522 7.90282,-1.37572 14.78058,-1.37572 z";
}

#exclamationMark {
    -fx-shape: "m 304.69514,1069.3871 -4.84891,0 -2.37691,-28.0951 0,-20.1087 9.60273,0 0,20.1087 -2.37691,28.0951 z m -8.22413,17.9219 0,-11.6944 11.69442,0 0,11.6944 -11.69442,0 z";
}

#underLine {

}

#inputField {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-style: none;
}